<footer id="global-footer">
  <nav id="footer-nav" role="navigation">
    <div class="clearfix"></div>
    <span class="poweredby"> © {{date published_at format="YYYY"}}. All rights reserved. Built with <a href="https://en.wikipedia.org/wiki/Love" target="_blank">Love</a> under <a href="https://en.wikipedia.org/wiki/Bekasi" target="_blank">Bekasi</a> City.</span>
    <ul id="social-menu">
      <li class="instagram"><a href="https://instagram.com/adityakresna_"><span class="hidden">Instagram</span></a></li>
      <li class="facebook"><a href="https://www.facebook.com/aditya.kresna.permana"><span class="hidden">Facebook</span></a></li>
    </ul>
  </nav>
  <div class="clearfix"></div>
</footer>
